include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/sitesearch *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/sitesearch/migration *.ini *.py *.mako
